body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  border: 1px solid black;
  image-rendering: -moz-crisp-edges; /* firefox */
  image-rendering: pixelated; /* chrome */
}